<div class="container-fluid">
    <div class="divRegister">
      <form (ngSubmit)="createTask(taskForm)" #taskForm="ngForm">
        <mat-form-field style="width: 100%;">
          <mat-label>Escreva sua Tarefa</mat-label>
          <input class="form-control" ngModel name="task" matInput placeholder="Ex. Estudar .Net" value="">
        </mat-form-field>
        <div class="buttonSubmit">
          <button mat-flat-button type="submit">Inserir</button>
        </div>
      </form>
    </div>
    <div class="divFilter">
      <mat-form-field>
        <mat-label>Selecione o Status:</mat-label>
        <mat-select (selectionChange)="statusFilter($event)">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Novo">Novo</mat-option>
          <mat-option value="Fazendo">Fazendo</mat-option>
          <mat-option value="Feito">Feito</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="divTable">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data de Criação</th>
            <th>Data de Finalização</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngFor="let task of tasks">
          <tr>
            <td>{{task.id}}</td>
            <td>{{task.description}}</td>
            <td>{{task.status}}</td>
            <td>{{task.dateCreated}}</td>
            <td>{{task.dateFinished == "Invalid Date" ? "" : task.dateFinished}}</td>
            <td>
              <button (click)="openModalEdit(task.id)" style="background: #f0ad4e;" mat-flat-button>Editar</button>
              <button (click)="deleteTask(task.id)"style="background: #d9534f;" mat-flat-button>Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
